@value colors: './colors.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightestGray;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 140px;
}

.App-header {
  height: auto;
  padding: 20px;
  width:100%;
}

.App-intro {
  font-size: large;
}
